body {
  margin: 0px;
  height: 1080px;
}
.team1  {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -630px;
  }
  .team2 {
    gap: 30px;
    width: 800px;
    height: 400px;
    margin-top: 50px;
    display: flex;
  }
  .header {
    margin-left: 1710px;
    margin-top: -75px;
    margin-bottom: 30px;
    padding-bottom: 25px;
  }
  .weblogo {
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 0px;
    width: 60px;
  }
  .webname {
    margin-left: 68px;
    margin-top: -59px;
    font-size: 37px;
    font-family: "arial black";
    color: white;
  }
  .m1 {
    width: 450px;
  }
  .m2 {
    width: 450px;
  }
  .f1 {
    width: 450px;
  }
  .mtth {
    margin-left: 400px;
    margin-top: 30px;
  }
 